body{
	text-align: center;
	font-family: Times, "Times New Roman", Georgia, serif;
}
h1{
	color: #191970;
	text-decoration: underline;
	text-shadow: 4px 5px 3px #8c66ff;
}
p em{
	text-decoration: underline;
}
p strong{
	color: #191970;
	border-style: groove;
}
a{
    color: #191970;
    text-shadow: 1px 1px #66ffd9;
    text-decoration: none;
    cursor: help;
    font-family: sans-serif;
}